.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  max-width: 600px;
  margin: 0 auto;

  /* padding: 20px; */
  background-color: #000;
  position: relative;
}

/* ----------------------header----------------------- */
.header {
  display: flex;
  justify-content: space-evenly;
  height: 20%;
}
.header img {
  height: 30px;
  margin: 20px;
}

.header__button {
  cursor: pointer;
}
.header__button--selected {
}

/* ----------------------end of header----------------------- */

/* ----------------------settings----------------------- */
.settingsOpen {
  width: 100%;
  padding: 20px;
}

/* ----------------------end of settings----------------------- */

/* ----------------------status----------------------- */
.status__box {
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

.status {
  text-transform: uppercase;
  color: #fff;
}
/* ----------------------end of status----------------------- */
/* ----------------------timer----------------------- */
.timer__container {
  margin: 0 auto;
}

/* ----------------------end of timer----------------------- */

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: rgba(255, 255, 255, 0.267);
}

.circle-progress {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: #fff;
  /* text-shadow: 1px 1px 8px #00000041; */
}

/* ----------------------controlls----------------------- */
.controlls {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 60%;
  height: 150px;
}

.btn {
  padding: 10px 20px;
  height: 50px;
  width: 100px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
  border-radius: 4px;
  border: none;

  outline: none;
  margin: 0 20px;
}

.btn:hover {
  box-shadow: none;
}

.btn-start {
  background-color: #fafafa;
  box-shadow: 0 8px 20px -12px rgb(199, 199, 199);
  color: #000;
}
.btn-pause {
  background-color: #fafafa;
  color: #000;
}
.btn-resume {
  background-color: #fafafa;
  color: #000;
}
.btn-reset {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* ----------------------end of controlls----------------------- */
/*! ========================================CSS RESET=============================================== */
/*******************
 Box Sizing
 *****************

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/****************************
 Generic Margins and Paddings
 ****************************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/*******************
 Lists
 *******************/
ul {
  list-style: none;
}

/*******************
 Forms and buttons
 *******************/
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* I usually expand input and textarea to full-width */
input[type="text"],
textarea {
  width: 100%;
}

/* More friendly border */
input,
textarea,
button {
  border: 1px solid gray;
}

/* Some defaults for one-liner buttons */
button {
  padding: 0.75em 1em;
  border-radius: 0;
  line-height: 1;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/***********************************
 Easy responsive for media elements
 ***********************************/
img,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

/*******************
 Useful table styles
 *******************/
table {
  table-layout: fixed;
  width: 100%;
}

/*******************
 The hidden attribute
 *******************/
[hidden] {
  display: none !important;
}

/*******************
 Noscript
 *******************/
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}
