.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 20px;
}

.button {
  border: 1px solid #000;
  padding: 5px 10px;
  background-color: #ef4a23;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.controlls {
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 60%;
}

#app {
  margin-top: 40px;
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: red;
}
