@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  max-width: 600px;
  margin: 0 auto;

  /* padding: 20px; */
  background-color: #1a1820;
  /* background: linear-gradient(to bottom, #6066a4 0%, #403d77 100%); */
  position: relative;
}

/* ----------------------header----------------------- */
.header {
  display: flex;
  justify-content: space-evenly;
  height: 20%;
}
.header img {
  height: 30px;
  margin: 20px;
}

.header__button {
  cursor: pointer;
}
.header__button--selected {
}

/* ----------------------end of header----------------------- */

/* ----------------------settings----------------------- */
.settings {
  width: 100%;
  color: #fff;
}

.settings__component {
  background: #231f2a;
  margin: 20px auto;
  width: 90%;
  padding: 30px 20px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.slider {
  appearance: none;
  width: 50%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 4px;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  box-shadow: 1px 0px 1px rgb(88, 88, 88);
}

/* ----------------------end of settings----------------------- */

/* ----------------------status----------------------- */
.status__box {
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

.status {
  text-transform: uppercase;
  color: #fff;
}
/* ----------------------end of status----------------------- */
/* ----------------------timer----------------------- */
.timer__container {
  margin: 0 auto;
}

/* ----------------------end of timer----------------------- */

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: rgba(255, 255, 255, 0.267);
}

.circle-progress {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: #fff;
  /* text-shadow: 1px 1px 8px #00000041; */
}

/* ----------------------controlls----------------------- */
.controlls {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 60%;
  height: 150px;
}

.btn {
  padding: 12px 16px;
  /* height: 50px; */
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
  border-radius: 4px;
  border: none;
  line-height: 20px;
  font-size: 20px;
  outline: none;
  margin: auto;
}

.btn:hover {
  box-shadow: none;
}

.btn-start {
  background-color: #fafafa;
  box-shadow: 0 8px 20px -12px rgb(199, 199, 199);
  color: #000;
}
.btn-pause {
  background-color: #fafafa;
  color: #000;
}
.btn-resume {
  background-color: #fafafa;
  color: #000;
}
.btn-reset {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* ----------------------end of controlls----------------------- */
/*! ========================================CSS RESET=============================================== */
